body {
    font-family: 'Roboto', sans-serif;
}

.wine-cat img{
    max-width:100%;
}

header {
    padding: 1em 0;
    background: rgba(0, 0, 0, 0.8);
}

header a{
    color: white;
}

header a:hover{
    text-decoration: none;
    color: white;
}

header h1{
    margin:0;
}

header li{
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
    color:white;
}

header img{
    width: 1em;
}

.banner{
    overflow: hidden;
    height: 30em;
    padding-left: 0;
    padding-right: 0;
}

.banner img{
    max-width: 100%;
    transform: translate(0,-30%);
}

.unit1{
    background: rgba(247, 237, 228, 1);
}

.unit2{
    background: rgba(0, 0, 0, 1);
}
