html{
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-height: 100%;
  color:#563403;

}

body {
    background: url(HERITIERE.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    transition: background 2s linear;
}

header {
  padding: 0.5em 0;
  font-size: 1.4rem;
  width: 100%;
  color:#EA5E3D
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  padding: 1em;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 2em;
}

header nav {
  display: flex;
  justify-content: flex-end;
  height: 5em;
}

header a {
  padding: 0 20px;
  margin: 0;
  color: #EA5E3D;
  text-decoration: none;
}

header a:hover{
    text-decoration: none;
    font-weight: bold;
    color:#EA5E3D
}

header img{
    max-width: 20em;
    padding-left:5em;
}

.content{
    height:26em;
    margin-left: 7em;
}

li {
    list-style: none;
    margin-top: 0.3em;
}

.content a {
    text-transform: uppercase;
    color:#563403;
    text-decoration: none;
}

.content a:hover{
    font-weight: bold;
    text-decoration: none;
}

.wineSection1 li{
    padding-left: 4em;
    font-size: 0.8em;
}

.btn.btn-primary {
  border-radius: 1em;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #EA5E3D;
  margin-left: 3em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.btn.btn-primary:hover {
    font-weight: normal;
}

.ui-accordion-content { display:none; }
.active > .ui-accordion-content { display:block; }

/* .btn.btn-wineColor {
  border-radius: 6em;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #eccd13;
} */

footer {
  font-size: 12px;
  padding: 20px 0;
  color: white;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
