html{
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-height: 100%;
  color:#563403;

}

body {
    background: url(img/HERITIERE.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    transition: background 2s linear;
}

header {
  padding: 0.5em 0;
  font-size: 1.4rem;
  width: 100%;
  color:#EA5E3D
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  padding: 1em;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 2em;
}

header nav {
  display: flex;
  justify-content: flex-end;
  height: 5em;
}

header a {
  padding:0 1em;
  margin: 0;
  color: #EA5E3D;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

header a:hover{
    text-decoration: none;
    font-weight: bold;
    color:#EA5E3D
}

header img{
    max-width: 20em;
    padding-left:5em;
}

.container{
    display: inline-block;
}

.content{
    height:26em;
    margin-left: 7em;
}

ul p {
    font-size: 0.9em;
}

li {
    list-style: none;
    margin-top: 0.3em;
}

.content a {
    text-transform: uppercase;
    color:#563403;
    text-decoration: none;
}

.content a:hover{
    font-weight: bold;
    text-decoration: none;
}

.red{
    color:#722f37;
}

.white{
    color: #d4c52d;
}

.whiteWines{
    text-align: right;
}

.ui-accordion-content li{
    padding-left: 1em;
    font-size: 0.8em;
}

.wineTitle{
    font-size: 1.5em;
}

.btn.btn-primary {
  border-radius: 1em;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #EA5E3D;
  margin-left: 3em;
  margin-top: -0.5em;
  margin-bottom: 3em;
  margin-right: 1em;
}

.btn.btn-primary:hover {
    font-weight: normal;
}

.content .btn.btn-primary{
    margin: 1em;
}

.ui-accordion-content { display:none; }
.active > .ui-accordion-content { display:block; }

/* .submenu1 {
    background: rgba(0, 0, 0, 0.8);;
    right: -30em;
    height: 100%;
    position: fixed;
    width: 30em;
    top:-0.1em;
    color: white;
    z-index: 1;
}

.submenu2 {
    background: rgba(0, 0, 0, 0.8);;
    right: -50em;
    height: 100%;
    position: fixed;
    width: 50em;
    top:-0.1em;
    color: white;
    z-index: 1;
}

.submenu1 img{
    margin-left: 1em;
    margin-top: 1em;
    max-width: 2em;
}

.submenu1 h1{
    margin-left: 0.5em;
}

.submenu1 p{
    padding: 2em;
    font-size: 0.8em;
}

.submenu2 img{
    margin-left: 1em;
    margin-top: 1em;
    max-width: 2em;
}

.submenu2 h1{
    margin-left: 0.5em;
}

.submenu2 p{
    padding: 2em;
    font-size: 0.8em;
} */

footer {
  font-size: 12px;
  padding: 20px 0;
  color: white;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer ul img {
  max-width: 4em;
  margin-right: 1em;
}
